<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    
<div class="wrapper">
<div class="container">
    <h2>Testing Pages</h2> 
    <p>Wallet: <span id="wallet">0</span></p>
    <p>Balance: <span id="balance">0</span></p>
    <input type="number" id="amount" placeholder="Enter amount" required>
    <button onclick="deposit()">Deposit</button>
    <button onclick="withdraw()">Withdraw</button>
    <button onclick="goToHome()">Go to Home</button>
    
</div>
</div>

</body>
</html>